
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Louis Vuitton Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-body {
  width: calc(100% - 300px);
  left:300px;
}

.custom-left {
  left: -3.3rem;
}
.brand-hover:hover {
  color:#ffffff !important;
}
.intro {
  background-color: rgba(243,244,246,0.5);
  padding: 10px;
}
.theme-color2 {
  background-color: #F5F5F5;
}

/*  Responsive sidebar */
@media (max-device-width:1024px) and (orientation:portrait) {
  .bg-img {
    height: calc(100vh - 56px)!important;
  }
  .inner-content {
    position:Relative;
    top:56px;
  }
}
@media (max-width: 800px) {
  .toggle .w-custom-width{
    left: 0!important;
    transition: all 0.5s ease-in-out;
    width: 60% !important;
  }
  .sidebar .w-custom-width {
    left: -100% !important;
    transition: all 0.5s ease-in-out;
    width: 60% !important;
    height: 100vh !important;
    position: fixed !important;
    top: 0 !important; 
    z-index: 100 !important;
    
  }
  .custom-body {
    width: 100%;
    left: 0;
  }
  .close-menu,
  .open-menu {
    display: block !important;
  }
  .toggle .close-menu,.sidebar .open-menu  {
    display: block !important;
  }
  .toggle .open-menu, .sidebar .close-menu {
    display: none !important;
  }
}
.close-menu,
.open-menu {
  position: fixed;
  cursor: pointer;
  display: none;
  z-index:1;
}

.open-menu {
  top: 50px;
  left: 20px;
  font-size: 35px;
  transform: translateY(-50%);
  background-color: rgba(255,255,255,0.6);
  padding: 12px;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  font-size: 30px;
}
.open-menu svg {
  position:relative;
  top:-9px;
}
.close-menu {
  font-size: 35px;
  top: 20px;
  right: 20px;
}
.w-custom-width .block-grey:hover {
  color: #ffffff !important;
}
.w-custom-width .block-grey:after,.block-white:after {
  content: "";
  width: 3px;
  background: #ffffff;
  height: 0;
  top: auto;
  bottom: 0;
  right: 0;
  position: absolute;
  transition: ease all 0.35s;
}
.w-custom-width .block-grey:hover:after,.block-white:hover:after {
  height: 100%;
  top: 0;
  bottom: auto;
}
.block-white,.block-grey {
  padding: 0.625rem 1rem;
  display:block;
}
.block-white {
  color:#ffffff;
}
.block-grey {
  color: grey;
}
.block-white:after {
  height: 100%;
  top: 0;
  bottom: auto;
}

.toggle .custom-body {
  background-color: rgba(0,0,0,0.4);
  overflow:hidden;
}
.bg-img {
  background-image: url(assets/Home-bg.png);
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.bg-theme {
  background-color: #A3C0BC;
}
#Home .flex{
  display: flex!important;
}
.slick-prev, .slick-next {
  display:none !important;
}
.slick-dots {
  bottom: 60px !important;
}
.tech .theme-color2{
  background: linear-gradient(to right, #445061 48%, #F5F5F5 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}
.tech .theme-color2:hover {
  background-position: left bottom;
}
.tech .leading-tight {
  visibility:hidden;
  position:Absolute;
  left:0;
  text-align:Center;
}
.tech .theme-color2:hover .leading-tight {
  visibility: visible;
  transition: .5s ease-in;
  transition-delay:0.2s;
  top: 0;
  display: flex;
  align-items: CENTER;
  justify-content: CENTER;
  width: 100%;
  height: 100%;
}
.pos-color{
  color: #6A99B1;
}
.userimage {
  transform: scale(1.3) rotate(0deg);
}

@media screen and (max-height: 575px) and (orientation:landscape){
  .img-sub {
    display:none;
  }
}